@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Transaction>
@{
    ViewBag.Title = "GetCurrentMoves";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cariler | Cari Hareket</h2>
<br />
<ol class="breadcrumb alert-success mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.d</li>
</ol>

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Ürün</th>
        <th>Birim Fiyat</th>
        <th>Adet</th>
        <th>Satış Temsilcisi</th>
        <th>Tarih</th>
        <th>Toplam Tutar</th>
        <th>Yazdır</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("tr-TR"))</td>
            <td>@x.Amount</td>
            <td>@x.Employee.FirstName  @x.Employee.LastName</td>
            <td>@x.Date.ToString("dd.MMM.yyyy")</td>
            <td>@x.TotalPrice.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("tr-TR"))</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>

        </tr>
    }


</table>