@model MvcOnlineTicariOtomasyon.Models.Classes.Product
    
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Yeni ürün Ekle</h3>
<br />
<form class="form-group" method="post">
   
    <label>Ürün Adı</label>
    @Html.TextBoxFor(X => X.ProductName, new { @class = "form-control" })
    <br />
    <label>Marka</label>
    @Html.TextBoxFor(X => X.Brand, new { @class = "form-control" })
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Category, new { @class = "form-control" })

    <br />
    <label>Stok</label>
    @Html.TextBoxFor(X => X.StokAmount, new { @class = "form-control" })
    <br />
    <label>Alış Fiyat</label>
    @Html.TextBoxFor(X => X.PurchasePrice, new { @class = "form-control" })
    <br />
    <label>Satış Fiyat</label>
    @Html.TextBoxFor(X => X.SalePrice, new { @class = "form-control" })
    <br />

    <label>Resim</label>
    @Html.TextBoxFor(X => X.ProductImage, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-warning">Yeni Ürün Ekle</button>

</form>