
@model MvcOnlineTicariOtomasyon.Models.Classes.Billing
@{
    ViewBag.Title = "AddBilling";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <h2>Fatura Oluştur</h2>

        <form class="form-group" method="post">
            
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <label>Seri Numarası</label>
                    @Html.HiddenFor(x => x.Transacationid, new { @Value = ViewBag.Trans })
                    @Html.TextBoxFor(x => x.SerialNumber, new { @Value = ViewBag.BillingNumber, @readonly = "readonly", @class = "form-control", @id = "serialNumber" })

                </div>
                <div class="col-md-6">
                    <br />
                    <label>Açıklama</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="date">Tarih</label>
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                <div class="col-md-6">

                    <label>Vergi Dairesi</label>
                    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <label>Müşteri Temsilcisi</label>
                    @Html.HiddenFor(X => X.Employeeid, new { @Value = ViewBag.Employeeid })

                    @Html.TextBoxFor(X => X.Employeeid, new { @Value = ViewBag.Personel, @readonly = "readonly", @class = "form-control" })
                </div>

                <div class="col-md-6">
                    <br />
                    <label>Alıcı</label>
                    @Html.HiddenFor(X => X.Currentid, new { @Value = ViewBag.CurrentId })
                    @Html.TextBoxFor(X => X.Currentid, new { @Value = ViewBag.CurrentName, @readonly = "readonly", @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <br />
                    <label>Miktar</label>
                    @Html.TextBoxFor(X => X.Amount, new { @Value = ViewBag.Amount, @readonly = "readonly", @class = "form-control" })
                </div>
                <br />
                <div class="col-md-6">
                    <br />
                    <label>Birim Fiyatı</label>
                    @Html.HiddenFor(x => x.UnitPrice, new { Value = ViewBag.Price })
                    <div class="form-control">@ViewBag.FormattedPrice </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">

                    <label>Toplam Fiyatı</label>
                    @Html.HiddenFor(x => x.Sum, new { @Value = ViewBag.TotalPrice })
                    <div class="form-control">@ViewBag.FormattedTotalPrice </div>
                </div>
                <br />

                <div class="col-md-6">
                    <br />
                    <button class="btn btn-outline-primary">Oluştur</button>
                    <a class="btn btn-danger" href="~/Billig/Index">Vazgeç</a>
                </div>

            </div>

            </form>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    var currentDate = new Date(); // Şu anki tarih ve zamanı al
    var day = currentDate.getDate(); // Günü al
    var month = currentDate.getMonth() + 1; // Ayı al (0'dan başladığı için 1 ekleyin)
    var year = currentDate.getFullYear(); // Yılı al

    // Tarihi "yyyy-MM-dd" formatına dönüştür
    var formattedDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);

    $('#date').val(formattedDate);

   
</script>