@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Billing>
@{
    ViewBag.Title = "BillingDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <h2>Fatura Detaylar</h2>

        <form action="/" method="get">

            <div class="row">
                <div class="col-md-4">
                    <br />
                    <label>Seri Numarası</label>
                    <div class="form-control">@ViewBag.Serial</div>
                </div>
             
                <div class="col-md-4">
                    <br />
                    <label>Açıklama</label>
                    <div class="form-control">@ViewBag.Description</div>

                </div>
               
                <div class="col-md-4">
                    <br />
                    <label>Cari</label>
                    <div class="form-control">@ViewBag.CurrentName</div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <br />
                    <label>Tarih</label>
                    <div class="form-control">@ViewBag.Date</div>
                </div>
                <div class="col-md-4">
                    <br />
                    <label>Oluşturma Saati</label>
                    <div class="form-control">@ViewBag.Time</div>

                </div>
                <div class="col-md-4">
                    <br />
                    <label>Vergi Dairesi</label>
                    <div class="form-control">@ViewBag.Tax</div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <label>Oluşturan</label>
                    <div class="form-control">@ViewBag.Employer</div>
                </div>
            </div>

        </form>
        <div class="col-md-12">
            <br />
            @Html.Action("BillingDetailPartial")
        </div>

    </div>
</div>
<a class="btn btn-outline-warning" href="~/Billig/Index">Geri Dön</a>